{% extends 'base.html.twig' %}

{% block title %}New Blog{% endblock %}

{% block body %}
    <h1 class="text-white">Create new Blog</h1>

    {{ include('blog/_form.html.twig') }}

    <a class="text-white" href="{{ path('blog_index') }}">back to list</a>
{% endblock %}
